<script type="ld-conf">
{
  "name": "hero",
  "label": "Hero Title"
}
</script>

<div class="ns_hero" doc-image="src">
  <h1 class="ns_hero-h1-title" doc-editable="title">Hello, world!</h1>
  <p class="ns_hero-lead" doc-editable="text">
    This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
  </p>
  <p class="ns_hero-author">
    Author:
	<span class="ns_hero-author-name" doc-editable="author">Vorname Name	</span>
  </p>
  
  
  <!--<p>
    <a doc-link="featured-page" doc-editable="button" class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>-->
</div>
