<script type="ld-conf">
{
 "name": "info", 
 "label": "Infobox",
 "properties": ["info-align"]
}
</script>

<div class="info info-default">
  <div class="info-heading">
    <h3 class="info-title" doc-editable="title">Peugeot fährt in die schwarzen Zahlen</h3>
  </div>
  <div class="info-body">
   <img doc-image="image">
   <p class="info-img-legend" doc-editable="legend">Peugeot fährt wieder einen Gewinn ein: Produktionswerk in Poissy bei Paris.<br> (Bild: Benoit Tessier / Reuters)</p>
   <p class="info-body-text" doc-editable="body">Peugeot hat in der ersten Jahreshälfte erstmals seit vier Jahren wieder einen Gewinn eingefahren. Damit ist der Konzern bei der Sanierung seinen selbstgesteckten Zielen voraus. Wie die Franzosen am Mittwoch mitteilten, sorgten der schwache Euro und gesunkene Rohwarenkosten für Rückenwind. Allerdings werde das Geschäftsumfeld rauer. In China rechnen die Franzosen nur noch mit einem Wachstum von 3%.</p>
  </div>
</div>
