
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://fonts.gstatic.com/s/lato/v11/Kom15zUm24dIPfIRiNogNuvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJRbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}





article h1,article h2   {font-family: 'Lato', sans-serif !important; }
article h3, article p   {font-family: 'Roboto Slab', serif !important;}

a{color: #b7003c !important;}

.container{width: 1080px; padding:0; padding-bottom:100px;}

/*HERO*/
.ns_hero{
	padding: 10% 0; 
	background-position: fixed; 
	margin-bottom: 30px
}
h1.ns_hero-h1-title{
	margin: 0 15%; 
	font-size: 60px;
	margin-bottom: 20px; 
	font-family: 'Lato', sans-serif; 
	font-weight:300;
	color:white; 
	line-height:1.2em;
}
p.ns_hero-lead{
	margin: 0 15%;
	color: white; 
	font-size: 24px; 
	margin-bottom:20px
}
p.ns_hero-author{
	margin: 0 15%;
	text-transform:uppercase; 
	color:white; 
	padding:0; 
	font-size:15px
}
span.ns_hero-author-name{
	color: grey
}

/*QUOTE*/
blockquote.ns_quote {border: 0; margin: 2em 15%; padding:3%; border-top: 3px #b7003c solid; border-bottom: 3px #b7003c solid; }
blockquote.ns_quote .ns_quote-p{margin: 0; padding:0; color: #b7003c; font-size: 1.5em; line-height:1.5em}
blockquote.ns_quote .ns_quote-footer {color: #b7003c; padding: 0 0 0 15%}

blockquote.ns_quote.ns_half {margin: 2em 7.5%; padding:3%; border:0; }
blockquote.ns_quote.ns_half {width:30%; float:left; background-color: #b7003c;}
blockquote.ns_quote.ns_half .ns_quote-p{margin: 0; padding:0; color:white; font-size: 1.5em; line-height:1.5em}
blockquote.ns_quote.ns_half .ns_quote-footer {color: white}
blockquote.ns_quote.ns_half .ns_quote-footer::before {content:"\2014 "}



	
/*PARAGRAPH*/
p.ns_paragraph{margin: 0 15% 1em; }
p.ns_dropcap:first-letter { float: left; color: #b7003c; font-size: 75px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 3px; }
p.ns_two-cols{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 3em; /* Chrome, Safari, Opera */
    -moz-column-gap: 3em; /* Firefox */
    column-gap: 3em;	
}


/* TITLES */


h1.ns_h1-title{margin:1em 5% 0;padding:0; font-size: 3em; font-family: 'Lato', sans-serif;font-weight:300;line-height:1em; color: black}
h2.ns_h2-subtitle{margin:1em 5%;padding:0; font-size: 1.5em; font-family: 'Lato', sans-serif; font-weight:bold;color: #b7003c;}

h2.ns_h2-title{margin: 0 15%; padding-top:2em; font-size: 1em; color: #b7003c; font-weight:bold;}
h3.ns_h3-title{margin: 0 15%; padding-top:2em; font-size: 1em; font-weight:bold; }

/* LEAD */
p.ns_lead { font-size: 1.5em; margin: 0 15% 1em; }

/* COMPONENT AUTHOR*/

p.ns_comp-author{ margin:5em 5% 2em;  width: auto; text-transform: uppercase; font-size:0.9em; color:black}
p.ns_comp-author span {border-top: 1px solid #000; height: 50px; display:inline-block; padding-top:1em;}
p.ns_comp-author span.ns_comp-author-bold{font-weight:bold; text-transform: uppercase;}

/* INFO BOX*/
.ns_info{ float: left; border-right:2px #b7003c solid; width: 25%; margin: 2em 2em 2em; padding:0 }
.ns_info-default{}
.ns_info-heading{text-align:right;}
h3.ns_info-title{margin: 0; padding: 0; padding:0 1em 1em 0; font-family: 'Lato', sans-serif;color: #b7003c; font-size:1.3em}

.ns_info-body{text-align:right}
.ns_info-body img{width:150px; float: right; padding: 0 1em 1em 1em}
p.ns_info-img-legend{font-size: 10px; font-family: 'Lato', sans-serif; line-height:12px; margin:0; padding:0  }
p.ns_info-body-text{clear:both; padding: 0 1em 0 0; margin:0; font-size: 14px; font-family: 'Lato', sans-serif; line-height:16px;}

.ns_right{ float: right;border:0; border-left:2px #b7003c solid; width: 25%; margin: 2em 0 2em 2em; padding:0 }
.ns_right .ns_info-default{}
.ns_right .ns_info-heading{text-align:left;}
.ns_right h3.ns_info-title{margin: 0; padding: 0; padding:0 0 1em 1em; font-family: 'Lato', sans-serif;color: #b7003c;}

.ns_right .ns_info-body{text-align:left}
.ns_right .ns_info-body img{width:150px; float: left; padding: 0 1em 1em 1em}
.ns_right p.ns_info-img-legend{font-size: 10px; font-family: 'Lato', sans-serif; line-height:12px; margin:0; padding:0  }
.ns_right p.ns_info-body-text{clear:both; padding: 0 0 0 1em; margin:0; font-size: 14px; font-family: 'Lato', sans-serif; line-height:16px;}


/* IMAGE */
.ns_comp-image{margin: 2em 2em 1em 0;float:left; width: 50%; display: block; border:0}
.ns_comp-image img {width:100%; margin-bottom:1em}
.ns_comp-image figcaption { float: left; font-size: 10px; font-family: 'Lato', sans-serif; line-height:12px;color:#000 }
.ns_comp-image div { float: right; font-size: 10px; font-family: 'Lato', sans-serif; line-height:12px; color:#000 }

.ns_comp-image.ns_right{margin: 2em 0 1em 2em;float:right; width: 50%; display: block; border:0}
.ns_comp-image.ns_right img {width:100%; margin-bottom:1em}
.ns_comp-image.ns_right figcaption { float: right; text-align:right; font-size: 10px; font-family: 'Lato', sans-serif; line-height:12px; }
.ns_comp-image.ns_right div { float: left; font-size: 10px; font-family: 'Lato', sans-serif; line-height:12px; color:#999 }

.ns_comp-image.ns_middle{margin: 2em 15%; width: 70%; border:0}
.ns_comp-image.ns_middle img {width:100%; margin-bottom:1em}
.ns_comp-image.ns_middle figcaption { float: left; font-size: 10px; font-family: 'Lato', sans-serif; line-height:12px; }
.ns_comp-image.ns_middle div { float: right; font-size: 10px; font-family: 'Lato', sans-serif; line-height:12px; color:#999 }

.ns_comp-image.ns_full{margin: 2em 0; width: 100%; border:0}
.ns_comp-image.ns_full img {width:100%; margin-bottom:1em}
.ns_comp-image.ns_full figcaption { float: left; font-size: 10px; font-family: 'Lato', sans-serif; line-height:12px; }
.ns_comp-image.ns_full div { float: right; font-size: 10px; font-family: 'Lato', sans-serif; line-height:12px; color:#999 }


/* SEPARATOR */
.ns_separator {
	border:0;
	padding:1em 0;
	margin: 4em 40% 2em;
	border-top: 1px solid #999;
    display: block;
	}
.ns_separator.ns_big{ margin:4em 20% 2em;}

/* GRID OF 6 IMAGES */
.grid-of-6 {
    clear: both;
}
.grid-of-6.small figure {
    float: left;
    margin-bottom: 1.44444rem;
    margin-right: 3.44828%;
    width: 13.7931%;
}
.grid-of-6.small figure:nth-child(1) {
    float: left;
    margin-left: 0;
    margin-right: -100%;
}
.grid-of-6.small figure:nth-child(2) {
    float: left;
    margin-left: 17.2414%;
    margin-right: -100%;
}
.grid-of-6.small figure:nth-child(3) {
    float: left;
    margin-left: 34.4828%;
    margin-right: -100%;
}
.grid-of-6.small figure:nth-child(4) {
    clear: none;
    float: left;
    margin-left: 51.7241%;
    margin-right: -100%;
}
.grid-of-6.small figure:nth-child(5) {
    float: left;
    margin-left: 68.9655%;
    margin-right: -100%;
}
.grid-of-6.small figure:nth-child(6) {
    float: left;
    margin-left: 86.2069%;
    margin-right: -100%;
}
.grid-of-6 figure {
    clear: none;
    float: left;
    margin-right: 3.44828%;
    width: 31.0345%;
}
.grid-of-6 figure:nth-child(1) {
    float: left;
    margin-bottom: 3.44828%;
    margin-left: 0;
    margin-right: -100%;
}
.grid-of-6 figure:nth-child(2) {
    float: left;
    margin-bottom: 3.44828%;
    margin-left: 34.4828%;
    margin-right: -100%;
}
.grid-of-6 figure:nth-child(3) {
    float: left;
    margin-bottom: 3.44828%;
    margin-left: 68.9655%;
    margin-right: -100%;
}
.grid-of-6 figure:nth-child(4) {
    clear: both;
    float: left;
    margin-left: 0;
    margin-right: -100%;
}
.grid-of-6 figure:nth-child(5) {
    float: left;
    margin-left: 34.4828%;
    margin-right: -100%;
}
.grid-of-6 figure:nth-child(6) {
    float: left;
    margin-left: 68.9655%;
    margin-right: -100%;
}

.media-gallery {
margin: 20px 0; }
.media-gallery h2 {
font-size: 26px;
padding: 10px 0 8px; }
.media-gallery ul {
min-height: 30px; }

.media-gallery-image-slide img {
width: 100%; }

.media-gallery-quote-slide .centered-content {
padding: 70px 20px; }
.media-gallery-quote-slide blockquote {
position: relative; }
.media-gallery-quote-slide blockquote::before {
content: '\201C';
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
font-size: 5em;
color: rgba(43, 65, 77, 0.2);
z-index: -1;
text-align: center; }
.media-gallery-quote-slide blockquote p {
margin: 0;
margin-bottom: 4%;
padding: 0;
padding-top: 3%;
font-weight: 400;
font-size: 3em;
line-height: 1.1;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
.media-gallery-quote-slide p {
line-height: 1.5;
font-size: 0.9em;
font-weight: bold;
text-align: center; }

.media-gallery-quote-slide--blue {
background-color: #358EBC; }
.media-gallery-quote-slide--blue blockquote p {
color: #FEFBDF; }
.media-gallery-quote-slide--blue p {
color: rgba(43, 65, 77, 0.6);
font-weight: 400; }

.media-gallery-quote-slide--pink {
background-color: #F36A71; }
.media-gallery-quote-slide--pink blockquote p {
color: #FEFBDF; }
.media-gallery-quote-slide--pink p {
color: rgba(43, 65, 77, 0.6);
font-weight: 400; }

.media-gallery-quote-slide--yellow {
background-color: #F0C854; }
.media-gallery-quote-slide--yellow blockquote p {
color: #FEFBDF; }
.media-gallery-quote-slide--yellow p {
color: rgba(43, 65, 77, 0.6);
font-weight: 400; }














